* {
    box-sizing: border-box;   
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* 置中容器 */
.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/* ===== navbar ===== */
.navbar {
    background-color: rgb(238,238,238);
    padding: 5px 20px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-list {
    display: none;
}

.burger-icon {
    margin-right: 5px;
}

/* ===== banner ===== */
.banner {
    background-color: rgb(201,221,239);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ===== section ===== */
.section {
    text-align: center;
}
.section h2 {
    margin: 30px auto 24px auto;
}

.box {
    background-color: rgb(133,153,171);
    height: 150px;
    width: 100%;
    margin-top: 1em;
    padding: 5px;
}
.btn {
    background-color: rgb(218,238,255);
    padding: 1em;
    margin: 1em;
    border: none;
}

/* =======================
        Media query
========================== */

/*  螢幕大於500px時套用  */
@media (min-width: 500px) {
    .wrapper {
        width: 95%;
    }

    .navbar {
        padding: 5px 25px;
    }

    .boxes-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .box {
        width: 45%;
        margin: 10px;
        flex-grow: 1;
    }
}
/*  螢幕大於800px時套用  */
@media (min-width: 800px) {
    .burger-icon {
        display: none;
    }
    .menu-list {
        width: 40%;
        display: flex;
        justify-content: space-evenly;
    }

    .logo {
        padding-left: 5px;
    }

}

/*  螢幕大於1200px時套用  */
@media (min-width: 1200px) {
    .menu-list {
        width: 30%;
    }
}
